- VERSION = '3.1beta1c'
!!! 5
%html
	%head
		%meta{:charset => 'UTF-8'}/
		%meta{'http-equiv' => 'Content-Style-Type', :content => 'text/css'}/
		%meta{'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}/
		- @home_uri = 'http://cpro.jp/dq10/skillsimulator/beta/'
		%link{:rel => 'canonical', :href => @home_uri}/
		%meta{:name => 'description', :content => 'ドラゴンクエストX（ドラクエ10, DQ10, DQX）のスキル割り振りを計算するシミュレータ。'}/
		
		- @title = 'DQ10 スキルシミュレータ（v1.3用テスト版）'
		%title= @title
		
		%link{:rel => 'stylesheet', :type => 'text/css', :href => "./dq10skill.css?ver=#{VERSION}"}/
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/smoothness/jquery-ui-1.9.1.custom.min.css'}/
		
		%script{:type => 'text/javascript', :src => 'js/jquery-1.8.2.js'}
		%script{:type => 'text/javascript', :src => 'js/jquery.socialbutton-1.9.0.js'}
		%script{:type => 'text/javascript', :src => 'js/jquery-ui-1.9.1.custom.min.js'}
		%script{:type => 'text/javascript', :src => "./dq10skill.js?ver=#{VERSION}"}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-5127088-4']);
			_gaq.push(['_trackPageview']);
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#header
			#titleblock
				%h1<
					%a{:href => @home_uri}= @title
				#snsbuttons
					.snsbutton#tw-share
					.snsbutton#fb-like
					.snsbutton#g-plusone
				#save_url
					保存用URL:
					%input#url_text.ui-widget-content.ui-corner-all{:type => 'text', :size => 30}>/
					%a#tw-saveurl{title: '保存用URLをツイートする'} ツイート
			#consoleblock
				#foldbuttons
					%ul.button-container#foldbuttons-all
						%li.button-for-all.ui-corner-all<
							%a#fold-all ▲すべてたたむ
						%li.button-for-all.ui-corner-all<
							%a#unfold-all ▼すべてひろげる
					%ul.button-container#foldbuttons-vocation
						- data['vocationOrder'].each do |vocation|
							%li.button-each.ui-corner-all<
								%a{id: "fold-#{vocation}"} #{data['vocations'][vocation]['abbr']}
				%table#total.ui-corner-all
					%tr
						%th.ui-corner-tl 獲得経験値合計:
						%td.total_pts#total_exp 0
						%th 最大HP:
						%td.total_pts#total_maxhp 0
						%th 力:
						%td.total_pts#total_pow 0
						%th 器用:
						%td.total_pts#total_dex 0
						%th 攻魔:
						%td.total_pts#total_magic 0
						%th 魅力:
						%td.total_pts#total_charm.ui-corner-tr 0
					%tr
						%th.ui-corner-bl 不足経験値合計:
						%td.total_pts#total_exp_remain 0
						%th 最大MP:
						%td.total_pts#total_maxmp 0
						%th 身守:
						%td.total_pts#total_def 0
						%th 素早:
						%td.total_pts#total_spd 0
						%th 回魔:
						%td.total_pts#total_heal 0
						%th
						%td.total_pts.ui-corner-br
		#body_content
			%ul#beta_notice{:style => 'font-size:90%'}
				%li バージョン1.3で予定されている新職業・Lv61以上の設定についてはテスト用の仮のものです。実際のシミュレーションには使用できないのでご注意ください。
			- data['vocationOrder'].each do |vocation|
				%div.class_group{:id => vocation}
					.class_info
						%h2<
							= data['vocations'][vocation]['name'] + ' Lv '
							%span.lv_h2> 1
						%dl
							%dt.label_lv<
								%label{for: "lv-#{vocation}"} レベル
							%dd.lv_select
								%select{size: 1, id: "lv-#{vocation}"}
							%dt 獲得経験値:
							%dd.exp 0
							%dt スキルポイント:
							%dd.pts 0 / 0
							%dd<
								%label{for: "training-#{vocation}"}> 特訓
								%input.training_pt{id: "training-#{vocation}"}>
							%dt.error{:style => 'display:none'}<
								必要レベル:
								%span.req_lv>< 1
							%dd.error{:style => 'display:none'}
								= '（あと '
								%span.exp_remain> 0
								= ' exp）'
					- data['vocations'][vocation]['skills'].each do |skillCategory|
						- cat = data['skillCategories'][skillCategory]
						%table{:class => [skillCategory, 'skill_table']}>
							%caption
								= cat['name'] + ': '
								%span.skill_total 0
							%tr
								%th.console{:colspan => 2}
									%input.ptspinner
									%button.reset リセット
							- cat['skills'].each_with_index do |skill, i|
								%tr{:class => [skillCategory, i].join('_')}<
									%td.skill_pt>= skill['pt']
									-# - hint = skill['desc'] + (skill['mp'] ? "\n（消費MP: #{skill['mp']}）" : '')
									%td.skill_name= skill['name']
			#footer
				%ul
					%li スクウェア・エニックス『<a href="http://www.dqx.jp/" target="_blank">ドラゴンクエストX 目覚めし五つの種族 オンライン</a>』のスキルポイント割り振りを検討するためのシミュレータです。
					%li 要JavaScript。Google Chrome, Firefox, IE8以上で動作確認。IE対応は後回しになりがちです。
					%li 追加職Lv57-60の必要経験値は、今のところ初期職の実測値に1.333をかけた推測値です。1-2程度の誤差が見込まれます。
					%li
						使い方:
						%ul
							%li プルダウンで職業レベルを選択。括弧内はそのレベルの累計スキルポイント。
							%li スキルポイントはスキル一覧の項目をクリックすると必要なポイントが自動入力されます。上下ボタン・キーボードの上下キーで1ずつ調整、PageUp/PageDownキーで10ずつ上下します。数値の直接入力も可能。
							%li 「保存用URL」欄に表示されるURLは、アクセスすることで現在の状態を再現できます。メモ用・掲示板に貼る用などにどうぞ。
							%li レベル欄あたりにカーソルを持っていくと「おりたたむ」ボタンが出てきて、クリックすると簡易表示になります。そのまま操作も可能。「すべてたたむ」でレベル・スキルを一覧するのがおすすめです。
							%li タイトル下の職業ごとのボタンをクリックすると、その職業の位置にスクロールします。折りたたまれていた場合は展開されます。
							%li 武器スキルのボタンをクリックすると、その武器スキルを持つ職業が展開され、それ以外がすべて折りたたまれます。特定の武器スキルについて振り分けを検討するのにご利用ください。
							%li 特訓モードのスキルポイントを1以上にした場合、最低でもレベル50必要なものとして計算します。
					%li
						履歴:
						%ul
							%li 2013/2/20 v3.1beta1 1.3の新職業・レベル上限を暫定追加、展開/折りたたみの微調整
							%li 2014/2/14 v3.0.1 Chrome以外で自動スクロールしないバグの修正
							%li 2013/2/13 v3.0 職業・スキルの展開/折りたたみボタンを追加、ヘッダのレイアウト変更。
							%li 2013/1/21 v2.2 スーパースターのスキル詳細追加、消費ゴールドの表示
							%li 2013/1/8 v2.1.1 最大値を超えるポイントを入力したときエラー表示にならないバグ修正
							%li 2013/1/8 v2.1 特訓スキルポイントのレベルによる使用制限を廃止。スクリプト更新時にブラウザのキャッシュが原因で起こる問題を抑制。
							%li 2012/12/31 v2.0.1 Lv57以降の経験値テーブル入力、魔法戦士のスキル詳細追加。
							%li
								2012/12/27 v2.0 大型バージョンアップ (1.2) に対応、およびインタフェースの改善。
								%ul
									%li 新職業追加、レベルキャップ55→60。特訓モードで得られるスキルポイントの機能追加。
									%li スキルポイント調整UIを変更（スピンボタン採用・リセットボタン追加）。
									%li 保存用URL生成を手動から自動に変更、ツイートボタン追加。
									%li 広告のスクリプト読み込みを廃止し画像とテキストのリンクのみに。
							%li 2012/11/8 v1.1.1 経験値テーブルを公式ガイドブックおよびその<a href="http://www.square-enix.co.jp/magazine/gamebooks/dq/10_guide01/seigohyou.html" target="_blank">正誤表</a>に準拠
							%li 2012/10/12 v1.1 スキル一覧ポイント時にスキル詳細をヒント表示
							%li 2012/10/11 v1.0.2 新職業の経験値テーブルの予測値を1.333倍の四捨五入に変更、Lv18までの実測値を反映。
							%li 2012/10/10 v1.0.1 新職業の経験値テーブルが従来職と異なるのに暫定対応（1.33倍として計算）。職業の順序を転職時の並び順に準拠。
							%li 2012/10/9 v1.0 大型バージョンアップに対応（新職業追加、レベルキャップ50→55）。ページ読込の高速化。
							%li 2012/9/18 v0.6.3 <del>おまけ機能追加。不足経験値が1以上のとき数値をダブルクリックすると……</del>（v1.0で廃止）
							%li 2012/8/23 v0.6.2 パラメータ付きURLで読み込んだときの生成URLが異常になるバグ修正
							%li 2012/8/23 v0.6.1 かいふく魔力合計に反映されないバグ修正
							%li 2012/8/21 v0.6 おりたたむ・ひろげるボタン追加
							%li 2012/8/21 v0.5.2 まほうスキル全般、ムチの攻撃力+・みやぶるの必要ポイントを訂正
							%li 2012/8/21 v0.5.1 ツメスキルのこうげき力+を訂正
							%li 2012/8/21 v0.5 パッシブ合計の表示、保存用URLの生成・読込
							%li 2012/8/20 v0.2 スキル一覧クリックでポイント自動入力
							%li 2012/8/20 v0.1 暫定公開
					%li
						ToDo:
						%ul
							%li <del>Lv57-60の必要経験値入力</del>(v2.0.1)
							%li <del>魔法戦士・スーパースターのスキル詳細入力</del>(v2.0.1/v2.2)
							%li <del>スキル一覧ポイント時にスキル詳細をヒント表示する</del>(v1.1)
							%li <del>スキル一覧クリックでスキルポイントを自動設定する</del>(v0.2)
							%li <del>パッシブ合計を表示する</del>(v0.5)
							%li <del>設定値の再現URLを生成・読込</del>(v0.5)
					%li ご意見・ご要望は下記まで。
				%address<
					%p.contact 連絡先: <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a>
		#ad_sidebar
			%h2 DQ10ツールリンク
			%ul
				%li<
					%a{:href => 'http://dqx-bazaar.herokuapp.com/', :target => '_blank'} ドラクエ10アイテム価格調査隊
				%li<
					%a{:href => 'http://www.d-quest-10.com/', :target => '_blank'} ドラクエ10・モンスター完全図鑑
				%li<
					%a{:href => 'http://www4.atpages.jp/studiogobli/php/dqxm/', :target => '_blank'} DQ10 ソロ用
			- item_list.each do |item|
				.amazonitem
					%a{href: item[:item_url], target: '_blank'}<
						%img{src: item[:img_url], width: item[:img_width], height: item[:img_height], alt: item[:item_title], title: item[:item_title]}>/
						%br>/
						=item[:item_title]
