- VERSION = '3.8'
!!! 5
%html
	%head
		%meta{charset: 'UTF-8'}/
		%meta{'http-equiv' => 'Content-Style-Type', content: 'text/css'}/
		%meta{'http-equiv' => 'Content-Script-Type', content: 'text/javascript'}/
		- @home_uri = 'http://cpro.jp/dq10/skillsimulator/'
		%link{rel: 'canonical', href: @home_uri}/
		%meta{name: 'description', content: 'ドラゴンクエストX（ドラクエ10, DQ10, DQX）のスキル割り振りを計算するシミュレータ。'}/
		
		- @title = 'DQ10 スキルシミュレータ'
		%title= @title
		
		%link{rel: 'stylesheet', type: 'text/css', href: "./dq10skill.css?ver=#{VERSION}"}/
		%link{rel: 'stylesheet', type: 'text/css', href: 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css'}/
		
		%script{type: 'text/javascript', src: 'http://code.jquery.com/jquery-1.10.2.min.js'}
		%script{type: 'text/javascript', src: 'http://code.jquery.com/ui/1.10.3/jquery-ui.min.js'}
		%script{type: 'text/javascript', src: 'js/jquery.socialbutton-1.9.0.js'}
		%script{type: 'text/javascript', src: "./dq10skill.js?ver=#{VERSION}"}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-5127088-4']);
			_gaq.push(['_trackPageview']);
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#header
			#titleblock
				%h1<
					%a{href: @home_uri}= @title
				#save_url
					保存用URL:
					%input#url_text.ui-widget-content.ui-corner-all{type: 'text', size: 45}>/
					%a#tw-saveurl 保存用URLをツイート
			#consoleblock
				#foldbuttons
					%ul.button-container#foldbuttons-all
						%li.button-for-all.ui-corner-all<
							%a#fold-all ▲すべてたたむ
						%li.button-for-all.ui-corner-all<
							%a#unfold-all ▼すべてひろげる
					%ul.button-container#foldbuttons-vocation
						- data['vocationOrder'].each do |vocation|
							%li.button-each.ui-corner-all<
								%a{id: "fold-#{vocation}"} #{data['vocations'][vocation]['abbr']}
				%table#total.ui-corner-all
					%tr
						%th.ui-corner-tl 総獲得経験値:
						%td.total_pts#total_exp 0
						%th 最大HP:
						%td.total_pts#total_maxhp 0
						%th 力:
						%td.total_pts#total_pow 0
						%th 器用:
						%td.total_pts#total_dex 0
						%th 攻魔:
						%td.total_pts#total_magic 0
						%th 魅力:
						%td.total_pts#total_charm.ui-corner-tr 0
					%tr
						%th.ui-corner-bl 総不足経験値:
						%td.total_pts#total_exp_remain 0
						%th 最大MP:
						%td.total_pts#total_maxmp 0
						%th 身守:
						%td.total_pts#total_def 0
						%th 素早:
						%td.total_pts#total_spd 0
						%th 回魔:
						%td.total_pts#total_heal 0
						%th
						%td.total_pts.ui-corner-br
				#snsbuttons
					.snsbutton#tw-share
					.snsbutton#fb-like
					.snsbutton#g-plusone
		#body_content
			- data['vocationOrder'].each do |vocation|
				%div.class_group{id: vocation}
					.class_info
						%h2<
							= data['vocations'][vocation]['name'] + ' Lv '
							%span.lv_h2> 1
						%dl
							%dt.label_lv<
								%label{for: "lv-#{vocation}"} レベル
							%dd.lv_select
								%select{size: 1, id: "lv-#{vocation}"}
							%dt 獲得経験値:
							%dd.exp 0
							%dt 残りスキルポイント:
							%dd.pts 0 / 0
							%dd<
								%label{for: "training-#{vocation}"}> 特訓
								%input.training_pt{id: "training-#{vocation}"}>
							%dt.error{style: 'display:none'}<
								必要レベル:
								%span.req_lv>< 1
							%dd.error{style: 'display:none'}
								= '（あと '
								%span.exp_remain> 0
								= ' exp）'
					- data['vocations'][vocation]['skills'].each do |skillCategory|
						- cat = data['skillCategories'][skillCategory]
						%table{class: [skillCategory, 'skill_table']}>
							%caption
								= cat['name'] + ': '
								%span.skill_total 0
							%tr
								%th.console{colspan: 2}
									%input.ptspinner
									%button.reset リセット
							- cat['skills'].each_with_index do |skill, i|
								%tr{class: [skillCategory, i].join('_')}<
									%td.skill_pt>= skill['pt']
									-# - hint = skill['desc'] + (skill['mp'] ? "\n（消費MP: #{skill['mp']}）" : '')
									%td.skill_name= skill['name']
			#footconsole
				%p#setalllevel
					レベル一括設定
					%select{size: 1}
					%button 設定
				%p#clearallskills
					%button 全スキルをリセット
				%p#hirobaimport
					%a{href: 'hiroba-import.html', target: '_blank'} 冒険者の広場からデータを取り込む
			#footer
				%ul
					%li スクウェア・エニックス『<a href="http://www.dqx.jp/" target="_blank">ドラゴンクエストX 目覚めし五つの種族 オンライン</a>』のスキルポイント割り振りを検討するためのシミュレータです。
					%li 要JavaScript。Google Chrome, Firefox, IE8以上で動作確認。IE対応は後回しになりがちです。
					-# %li Lv71-75の獲得スキルポイントは、<a href="http://twitter.com/oteu_kyokugen/status/360318972341661696" target="_blank">ツイッターでの報告</a>をもとにした未検証のものです。
					-# %li 追加職の必要経験値は、初期職の実測値から算出した推測値を含みます（係数：1.333）。1-2程度の誤差を見込んでください。また、Lv70以降についてはこの法則を外れ、各レベルでの増分が固定値（前レベルに +199,346）であるとの情報に基づき設定しています。
					%li
						使い方:
						%ul
							%li プルダウンで職業レベルを選択。括弧内はそのレベルの累計スキルポイント。
							%li スキルポイントはスキル一覧の項目をクリックすると必要なポイントが自動入力されます。上下ボタン・キーボードの上下キーで1ずつ調整、PageUp/PageDownキーで10ずつ上下します。数値の直接入力も可能。
							%li
								スキルポイント欄右のリセットボタンをクリックするとポイントを0にします。
								%ul
									%li ダブルクリックすると複数の職で振ったそのスキルのポイントをすべて0にします。
									%li 職業欄下部の「全スキルをリセット」で、全職業で振ったスキルのポイントをすべて0にします。レベルと特訓は変化しません。
							%li 「保存用URL」欄に表示されるURLは、アクセスすることで現在の状態を再現できます。メモ用・掲示板に貼る用などにどうぞ。
							%li レベル欄あたりにカーソルを持っていくと「おりたたむ」ボタンが出てきて、クリックすると簡易表示になります。そのまま操作も可能。「すべてたたむ」でレベル・スキルを一覧するのがおすすめです。
							%li タイトル下の職業ごとのボタンをクリックすると、その職業の位置にスクロールします。折りたたまれていた場合は展開されます。
							%li 特訓モードのスキルポイントを1以上にした場合、最低でもレベル50必要なものとして計算します。
							%li 「レベル一括設定」でレベルを選択し設定ボタンをクリックすると、全職業のレベルを一度に変更できます。
							%li ブックマークレットを利用して、冒険者の広場のスキルポイント詳細ページからデータを取り込めます。詳細は<a href="hiroba-import.html" target="_blank">解説ページを参照</a>してください。
					%li
						履歴:
						%ul
							%li 2013/11/7 冒険者の広場からデータを取り込むブックマークレットを作成。
							%li 2013/9/17 v3.8 編集中のスキルを強調表示する機能追加。
							%li 過去の履歴は<a href="https://github.com/cpro/dq10skill/releases" target="_blank">リリースノートを参照</a>。
					-# %li
						ToDo:
						%ul
							%li <del>Lv66-70の必要経験値入力</del> (v3.3.1)
					%li ご意見・ご要望・不具合報告はツイッターの <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a> アカウントまでお願いします。<a href="https://github.com/cpro/dq10skill/issues" target="_blank">GitHubのIssues</a>で管理しているので、こちらに直接投稿していただいてもかまいません。
				%address<
					%p.contact 連絡先: <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a>
		#ad_sidebar
			%h2 DQ10ツールリンク
			%ul
				%li<
					%a{href: 'http://grooowl.com/r/dqx/', target: '_blank'} DQX相場情報
				%li<
					%a{href: 'http://www.d-quest-10.com/', target: '_blank'} ドラクエ10・モンスター完全図鑑
				%li<
					%a{href: 'http://dq100buster.wiki.fc2.com/', target: '_blank'} DQ10 モンスター100匹討伐隊攻略wiki
				%li<
					%a{href: 'http://yujuko.sakura.ne.jp/dq/ParaWt.html', target: '_blank'} DQX - 重さチェッカー
			- item_list.each do |item|
				.amazonitem
					%a{href: item[:item_url], target: '_blank'}<
						%img{src: item[:img_url], width: item[:img_width], height: item[:img_height], alt: item[:item_title], title: item[:item_title]}>/
						%br>/
						=item[:item_title]
