- VERSION = '5.0.2'
!!! 5
%html
	%head
		%meta{charset: 'UTF-8'}/
		%meta{'http-equiv' => 'Content-Style-Type', content: 'text/css'}/
		%meta{'http-equiv' => 'Content-Script-Type', content: 'text/javascript'}/
		- @home_uri = 'http://cpro.jp/dq10/skillsimulator/'
		%link{rel: 'canonical', href: @home_uri}/
		%meta{name: 'description', content: 'ドラゴンクエストX（ドラクエ10, DQ10, DQX）のスキル割り振りを計算するシミュレータ。'}/
		
		- @title = 'DQ10 スキルシミュレータ'
		%title= @title
		
		%link{rel: 'stylesheet', type: 'text/css', href: "./dq10skill.css?ver=#{VERSION}"}/
		%link{rel: 'stylesheet', type: 'text/css', href: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css'}/
		
		%script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}
		%script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'}
		%script{type: 'text/javascript', src: 'js/rawdeflate.min.js'}
		%script{type: 'text/javascript', src: 'js/rawinflate.min.js'}
		%script{type: 'text/javascript', src: 'js/jquery.socialbutton-1.9.1.min.js'}
		%script{type: 'text/javascript', src: "./dq10skill.js?ver=#{VERSION}"}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-5127088-4']);
			_gaq.push(['_trackPageview']);
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#header
			#titleblock
				%h1<
					%a{href: @home_uri}= @title
				#save_url
					%label{for: 'url_text'} 保存用URL:
					%input#url_text.ui-widget-content.ui-corner-all{type: 'text', size: 45}>/
					%a#tw-saveurl 保存用URLをツイート
			#consoleblock
				#foldbuttons
					%ul.button-container#foldbuttons-all
						%li.button-for-all.ui-corner-all<
							%a#fold-all ▲すべてたたむ
						%li.button-for-all.ui-corner-all<
							%a#unfold-all ▼すべてひろげる
					%ul.button-container#foldbuttons-vocation
						- data['vocationOrder'].each do |vocation|
							%li.button-each.ui-corner-all<
								%a{id: "fold-#{vocation}"} #{data['vocations'][vocation]['abbr']}
				%table#total.ui-corner-all
					%tr
						%th.ui-corner-tl 総獲得経験値:
						%td.total_pts#total_exp 0
						%th 最大HP:
						%td.total_pts#total_maxhp 0
						%th 力:
						%td.total_pts#total_pow 0
						%th 器用:
						%td.total_pts#total_dex 0
						%th 攻魔:
						%td.total_pts#total_magic 0
						%th 魅力:
						%td.total_pts#total_charm.ui-corner-tr 0
					%tr
						%th.ui-corner-bl 総不足経験値:
						%td.total_pts#total_exp_remain 0
						%th 最大MP:
						%td.total_pts#total_maxmp 0
						%th 身守:
						%td.total_pts#total_def 0
						%th 素早:
						%td.total_pts#total_spd 0
						%th 回魔:
						%td.total_pts#total_heal 0
						%th 残MSP:
						%td.total_pts#msp_remain.ui-corner-br
				#navlink
					%a#simpleui{href: 'simple.html'} 簡易表示版に切り替え
					%br
					%a#hirobaimport{href: 'hiroba-import.html', target: '_blank'} 冒険者の広場からデータを取り込む
		#body_content
			- data['vocationOrder'].each do |vocation|
				%div.class_group{id: vocation}
					.ent_title
						%h2<
							%label{for: 'lv-select'}
								= data['vocations'][vocation]['name'] + ' Lv '
								%span.lv_h2 1
						%dl.skill_pt
							%dt 残りSP:
							%dd.pts 0 / 0
						%dl.training_pt
							%dt
								%label{for: 'training_pt_spinner'} + 特訓
							%dd{id: "training-#{vocation}"}
								0
						%dl.expinfo
							%dt 獲得経験値:
							%dd.exp 0
							%dt.error{style: 'display:none'}<
								必要レベル:
								%span.req_lv>< 1
							%dd.error{style: 'display:none'}
								= '（あと '
								%span.exp_remain> 0
								= ' exp）'
						.ent_title_console
							%button.toggle_ent たたむ/ひろげる
					.skill_tables
						- skill_lines = data['vocations'][vocation]['skillLineOrder'] || data['vocations'][vocation]['skillLines']
						- skill_lines.each do |skill_line_name|
							- skill_line = data['skillLines'][skill_line_name]
							%table{class: [skill_line_name, 'skill_table']}>
								%caption
									.console_wrapper
										%label{for: 'pt_spinner'}
											= skill_line['name'] + ': '
											%span.skill_current 0
											\/
											%span.skill_total 0
								- skill_line['skills'].each_with_index do |skill, i|
									- hint = skill['desc']
									- hint += "\n（消費MP: #{skill['mp']}）" if skill['mp']
									- hint += "\n（#{skill['gold']}G）" if skill['gold']
									%tr{class: [skill_line_name, i].join('_'), title: hint}<
										%td.skill_pt>= skill['pt']
										%td.skill_name= skill['name']
			#pt_console{style: 'display: none'}
				%input#pt_spinner
				%button#pt_reset リセット
			#lv_console{style: 'display: none'}
				%select#lv-select.ui-widget-content.ui-corner-all{size: 1}
			#training_pt_console{style: 'display: none'}
				%input#training_pt_spinner
			#footconsole
				%p#setalllevel
					レベル一括設定
					%select{size: 1}
					%button 設定
				%p#bringUpLevel
					%button 必要レベルまで上げる
				%p#preset
					パッシブ全取得
					%select
					%button 設定
				%p#clearallskills
					%button 全スキルをリセット
			#footer
				%ul
					%li スクウェア・エニックス『<a href="http://www.dqx.jp/" target="_blank">ドラゴンクエストX 目覚めし五つの種族 オンライン</a>』のスキルポイント割り振りを検討するためのシミュレータです。
					%li 要JavaScript。Google Chrome, IE10で動作確認。Firefoxでも動くはずです。IE8, 9はたぶん動くと思いますが推奨しません。
					%li スキルポイント115・130の項目は、ver2.1後期で実装されるまでの仮のものです。
					%li
						使い方:
						%ul
							%li レベル、特訓ポイント、スキルポイントの近くにマウスカーソルを持っていくと入力欄が表示されます。
							%li スキルポイントはスキル一覧の項目をクリックすると必要なポイントが自動入力されます。上下ボタン・キーボードの上下キーで1ずつ調整、PageUp/PageDownキーで10ずつ上下します。数値の直接入力も可能。
							%li
								スキルポイント欄右のリセットボタンをクリックするとポイントを0にします。
								%ul
									%li ダブルクリックすると複数の職で振ったそのスキルのポイントをすべて0にします。
									%li 職業欄下部の「全スキルをリセット」で、全職業で振ったスキルのポイントをすべて0にします。レベルと特訓は変化しません。
							%li 「保存用URL」欄に表示されるURLは、アクセスすることで現在の状態を再現できます。メモ用・掲示板に貼る用などにどうぞ。
							%li 各職業欄の右上にある「おりたたむ」ボタンをクリックすると簡易表示になります。そのまま操作も可能。「すべてたたむ」でレベル・スキルを一覧するのがおすすめです。
							%li タイトル下の職業ごとのボタンをクリックすると、その職業の位置にスクロールします。折りたたまれていた場合は展開されます。
							%li 特訓モードのスキルポイントを1以上にした場合、最低でもレベル50必要なものとして計算します。
							%li 「レベル一括設定」でレベルを選択し設定ボタンをクリックすると、全職業のレベルを一度に変更できます。
							%li 「必要レベルまで上げる」ボタンをクリックすると、現在のレベルを取得済みのスキルに応じた必要レベルまで引き上げます。
							%li 「パッシブ全取得」でステータスの種類を選択し設定ボタンをクリックすると、「常時さいだいHP+30」などのいわゆるパッシブスキルをすべて取得した状態に設定します。ゼロからのスキル設計時、「とりあえずHPMPパッシブ」のような使い方が可能です。
							%li ブックマークレットを利用して、冒険者の広場のスキルポイント詳細ページからデータを取り込めます。詳細は<a href="hiroba-import.html" target="_blank">解説ページを参照</a>してください。
					%li
						履歴:
						%ul
							%li
								2014/2/27 v5.0
								%ul
									%li ver2.1の新職業・どうぐ使いを追加。後期実装予定の130スキルを暫定で選択可能に。
									%li レイアウト大幅刷新。たたんだときに全情報が見えるように。入力部分はマウスポイント時のみ表示。
									%li おりたたむ・ひろげるボタンを職業欄右上に固定表示。
									%li データ量増加に対応するため保存用URLの仕様変更。従来のものも読み込めます。
									%li ページ読み込みを高速化。
									%li <a href="simple.html" target="_blank">簡易表示版</a>を作成。デザインは<a href="https://twitter.com/mikonoMai" target="_blank">みこのん (@mikonoMai) さん</a>によるものです。ありがとうございます。
									%li v5.0.2 魔戦・スパのスキルライン表示順がゲームと異なっていたのを修正。
							%li 2013/12/5 v4.0 Version2の新職業・まもの使いを追加、レベル上限を75→80に。
							%li 過去の履歴は<a href="https://github.com/cpro/dq10skill/releases" target="_blank">リリースノートを参照</a>。
					%li
						ToDo:
						%ul
							%li 簡易表示版の編集機能
					%li ご意見・ご要望・不具合報告はツイッターの <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a> アカウントまでお願いします。<a href="https://github.com/cpro/dq10skill/issues" target="_blank">GitHubのIssues</a>で管理しているので、こちらに直接投稿していただいてもかまいません。
				%address<
					%p.contact 連絡先: <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a>
		#ad_sidebar
			%h2 サイト内リンク
			%ul
				%li<
					%a{href: 'monster.html'} 仲間モンスター用シミュレータ
				%li<
					%a{href: 'http://cpro.jp/dq10/roulette/'} ルーレットシミュレータ
			%h2 DQ10ツールリンク
			%ul
				%li<
					%a{href: 'http://www.d-quest-10.com/', target: '_blank'} ドラクエ10・モンスター完全図鑑
				%li<
					%a{href: 'http://dq100buster.wiki.fc2.com/', target: '_blank'} DQ10 モンスター100匹討伐隊攻略wiki
				%li<
					%a{href: 'http://yujuko.sakura.ne.jp/dq/ParaWt.html', target: '_blank'} DQX - 重さチェッカー
				%li<
					%a{href: 'http://rizria.com/dqx/search', target: '_blank'} DQ10 モーモンバザー サーチ
			#snsbuttons
				.snsbutton#tw-share
				.snsbutton#fb-like
				.snsbutton#g-plusone
			- item_list.each do |item|
				.amazonitem
					%a{href: item[:item_url], target: '_blank'}<
						%img{src: item[:img_url], width: item[:img_width], height: item[:img_height], alt: item[:item_title], title: item[:item_title]}>/
						%br>/
						=item[:item_title]
		:javascript
			jQuery(function($) {
				var sharedUrl = "#{@home_uri}";
				$('#tw-share').socialbutton('twitter', {
					button: 'horizontal',
					url: sharedUrl,
					lang: 'ja',
					hashtags: 'DQ10, dq10_skillsim'
				});
				$('#fb-like').socialbutton('facebook_like', {
					button: 'button_count',
					url: sharedUrl,
					locale: 'ja_JP'
				});
				$('#g-plusone').socialbutton('google_plusone', {
					lang: 'ja',
					size: 'medium',
					url: sharedUrl
				});
			});
