- VERSION = 'm0.9.1'
!!! 5
%html
	%head
		%meta{charset: 'UTF-8'}/
		%meta{'http-equiv' => 'Content-Style-Type', content: 'text/css'}/
		%meta{'http-equiv' => 'Content-Script-Type', content: 'text/javascript'}/
		- @home_uri = 'http://cpro.jp/dq10/skillsimulator/monster.html'
		%link{rel: 'canonical', href: @home_uri}/
		%meta{name: 'description', content: 'ドラゴンクエストX（ドラクエ10, DQ10, DQX）のスキル割り振りを計算するシミュレータ。まもの使いで仲間にしたモンスター用。'}/
		
		- @title = 'DQ10 仲間モンスター用スキルシミュレータ'
		%title= @title
		
		%link{rel: 'stylesheet', type: 'text/css', href: "./dq10skill.css?ver=#{VERSION}"}/
		%link{rel: 'stylesheet', type: 'text/css', href: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css'}/
		
		%script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}
		%script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'}
		%script{type: 'text/javascript', src: 'js/jquery.socialbutton-1.9.1.min.js'}
		%script{type: 'text/javascript', src: 'js/base64.js'}
		%script{type: 'text/javascript', src: "./dq10skill-monster.js?ver=#{VERSION}"}
		:javascript
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-5127088-4', 'cpro.jp');
			ga('send', 'pageview');
	%body#body-for-monster
		#header
			#titleblock
				%h1<
					%a{href: @home_uri}= @title
				#save_url
					保存用URL:
					%input#url_text.ui-widget-content.ui-corner-all{type: 'text', size: 45}>/
					%a#tw-saveurl 保存用URLをツイート
			#consoleblock
				#foldbuttons
					%ul.button-container#foldbuttons-all
						%li.button-for-all.ui-corner-all<
							%a#fold-all ▲すべてたたむ
						%li.button-for-all.ui-corner-all<
							%a#unfold-all ▼すべてひろげる
					- %w(monstermaster itemmaster).each do |master_type|
						%ul.button-container.appendbuttons{id: "#{master_type}"}
							- data[master_type].each do |monster|
								%li.button-monster-append.ui-corner-all<
									%a{id: "append-#{monster}"} #{data['monsters'][monster]['name']}
				-# %table#total.ui-corner-all
				-# #navlink
					%a{href: './'} プレイヤーキャラクター用シミュレータはこちら
		#body_content
			.monster_ent#ie-alert
				%p.whatsnew 重要なお知らせ:
				%p.whatsnew スキルシミュレータでは、Internet Explorer 8, 9, 10への対応をまもなく終了する予定です。
				%p Windows 7以降をお使いの方は、最新のものに更新してください。Windows Vista以前をお使いの方は<a href="https://www.mozilla.org/ja/firefox/new/" target="_blank">Firefox</a>や<a href="https://www.google.co.jp/chrome/browser/desktop/index.html" target="_blank">Google Chrome</a>などへの移行をご検討ください。
			.monster_ent#initial-instruction
				%p 上のモンスター名のボタンをクリックして仲間モンスターを追加してください。
				%p.whatsnew （New: ver2.4前期のなつき度200時SP追加に対応しました）
			#monsters
			.monster_ent#monster_dummy{style: 'display:none'}
				.ent_title
					%h2<
						<span class="monstertype"></span> Lv
						%span.lv_h2> 1
					.ent_title_console
						%span.natsuki200
							%input#checkbox-natsuki200-dummy{type: 'checkbox'}
							%label{for: 'checkbox-natsuki200-dummy'} 懐200
						%span.additional_skill_selector.additional_skill_selector-0
							%label{for: 'select-additional0-dummy'} 追加スキル1:
							%select#select-additional0-dummy
						%span.additional_skill_selector.additional_skill_selector-1
							%label{for: 'select-additional1-dummy'} 追加スキル2:
							%select#select-additional1-dummy
						%span.indiv_name
							%label{for: "indiv_name-dummy"} 名前:
							%input#indiv_name-dummy.ui-widget-content.ui-corner-all{type: 'text', size: 20}>/
						%button.toggle_ent たたむ/ひろげる
						%button.movedown 下へ
						%button.moveup 上へ
						&nbsp;
						%button.delete_entry 削除
				.class_info
					%dl
						%dt.label_lv<
							%label{for: "lv-dummy"} レベル
						%dd.lv_select
							%select{size: 1, id: "lv-dummy"}
						%dt 獲得経験値:
						%dd.exp 0
						%dt 残りスキルポイント:
						%dd.pts 0 / 0
						%dd<
							%label{for: "restart-dummy"}> 転生回数
							%input.restart_count{id: "restart-dummy"}>
						%dt.error{style: 'display:none'}<
							必要レベル:
							%span.req_lv>< 1
						%dd.error{style: 'display:none'}
							= '（あと '
							%span.exp_remain> 0
							= ' exp）'
						%dd
							%ul.badge-button-container.button-container
								%li.blank.ui-corner-all<
									%a{id: "append-badge0-dummy"} バッジ1
								%li.blank.ui-corner-all<
									%a{id: "append-badge1-dummy"} バッジ2
								%li.blank.ui-corner-all<
									%a{id: "append-badge2-dummy"} バッジ3
								%li.blank.ui-corner-all<
									%a{id: "append-badge3-dummy"} スペシャルバッジ
				.skill_tables
				.status_info
					%h3 Lv50時つよさ:
					%dl
						%dt HP
						%dd.maxhp 0
						%dt MP
						%dd.maxmp 0
						%dt 攻撃
						%dd.atk 0
						%dt 力
						%dd.pow 0
						%dt 身守
						%dd.def 0
						%dt 攻魔
						%dd.magic 0
						%dt 回魔
						%dd.heal 0
						%dt 素早
						%dd.spd 0
						%dt 器用
						%dd.dex 0
						%dt 魅力
						%dd.charm 0
						%dt 重さ
						%dd.weight 0
			#footconsole
				%p#setalllevel
					レベル一括設定
					%select{size: 1}
					%button 設定
				-# %p#bringUpLevel
					%button 必要レベルまで上げる
				-# %p#clearallskills
					%button 全スキルをリセット
			#footer
				%ul
					%li スクウェア・エニックス『<a href="http://www.dqx.jp/" target="_blank">ドラゴンクエストX 目覚めし五つの種族 オンライン</a>』の仲間モンスターのスキルポイント割り振りを検討するシミュレータです。
					%li 要JavaScript。Google Chrome, IE10で動作確認。Firefoxでも動くはずです。IE8, 9はたぶん動くと思いますが推奨しません。
					%li
						使い方:
						%ul
							%li ページ上部のモンスター名のボタンをクリックすることで、仲間モンスターの欄をひとつ増やします。
							%li 各欄の右上にある×ボタンで仲間モンスターを削除します。▼と▲でそれぞれ上下に並べ替えます。
							%li プルダウンで仲間モンスターのレベルを選択。括弧内はそのレベルの累計スキルポイント。
							%li スキルポイントはスキル一覧の項目をクリックすると必要なポイントが自動入力されます。上下ボタン・キーボードの上下キーで1ずつ調整、PageUp/PageDownキーで10ずつ上下します。数値の直接入力も可能。
							%li スキルポイント欄右のリセットボタンをクリックするとポイントを0にします。
							%li レベル転生に対応。転生回数を1以上にすると、追加スキルを選択可能になります。
							%li 「懐200」にチェックを入れると、なつき度200達成時のスキルポイント+5が加算されます。
							%li 名前欄には、ゲーム本編と違い文字制限はありません。「回復特化」といったメモ用途など自由に入力してください。
							%li 各モンスターの「Lv50時つよさ」欄には、転生回数に応じたカンスト時ステータスと各種パッシブスキルの合計を表示しています。杖・スティックの魔力パッシブも加算しています。
							%li 「バッジ1」等のボタンをクリックすると、モンスターバッジ選択画面が開きます。選択したバッジのステータスも上記つよさ欄に加算されます。
							%li 「保存用URL」欄に表示されるURLは、アクセスすることで現在の状態を再現できます。メモ用・掲示板に貼る用などにどうぞ。
							%li 各欄の右上にある「おりたたむ」ボタンをクリックすると簡易表示になります。そのまま操作も可能。「すべてたたむ」でレベル・スキルを一覧するのがおすすめです。
							%li 「レベル一括設定」でレベルを選択し設定ボタンをクリックすると、全モンスターのレベルを一度に変更できます。
						%li
							履歴:
							%ul
								%li 2015/1/13 v0.9.1 バッジ「くさった死体・金」のデータ間違い修正（呪い5%→10%）、特技データ一部補完
								%li 2014/12/24 v0.9 2.4前期でのなつき度200時追加SPに対応。
								%li 2014/12/16 v0.8 バッジ選択画面で複合条件検索を可能にした。
								%li
									2014/12/8 v0.7
									%ul
										%li バッジ選択画面をブラウザのウィンドウサイズに対して中央に表示するよう修正。また、選択画面上部をドラッグ可能に。
										%li 装備中のバッジのボタンをマウスでポイントしたとき、バッジ効果をヒント表示するようにした。
										%li データロードの最適化等微調整。
								%li
									2014/11/26 v0.6 バトルロードのモンスターバッジ機能を追加。
									%ul
										%li 同じバッジや4つめ以外でのSPバッジも選択できてしまいますが、これは修正予定です。
								%li 過去の履歴は<a href="https://github.com/cpro/dq10skill/releases" target="_blank">リリースノートを参照</a>。
					%li
						ToDo:
						%ul
							%li 同バッジ・SPバッジ選択制限
							%li <del>バッジの複数条件選択</del> (v0.8)
					%li ご意見・ご要望・不具合報告はツイッターの <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a> アカウントまでお願いします。<a href="https://github.com/cpro/dq10skill/issues" target="_blank">GitHubのIssues</a>で管理しているので、こちらに直接投稿していただいてもかまいません。
				%address<
					%p.contact 連絡先: <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a>
		#dark-screen
		#badge-selector
			#badge-selector-header
				%ul#badge-search-buttons-race.badge-search-button-container.button-container
					- data['badgerace'].each do |k, v|
						%li.ui-corner-all<
							%a{'data-search-key' => k, 'data-filter-type' => 'race'} #{v['abbr']}
				%ul#badge-search-buttons-class.badge-search-button-container.button-container
					- data['badgeclass'].each do |k, v|
						%li{'class' => ['ui-corner-all', k]}<
							%a{'data-search-key' => k, 'data-filter-type' => 'class'} #{v}
				%ul#badge-search-buttons-feature.badge-search-button-container.button-container
					- data['badgefeature'].each do |k, v|
						%li.ui-corner-all<
							%a{'data-search-key' => k, 'data-filter-type' => 'feature', title: v['name']} #{v['abbr']}
				%ul#badge-search-buttons-sort.badge-search-button-container.button-container
					%li.ui-corner-all<
						%a#badge-search-clear すべて表示
					%li.ui-corner-all<
						%a#badge-sort-badgeid バッジNo.順
					%li.ui-corner-all<
						%a#badge-sort-kana 五十音順
			#badge-selector-body
				%ul#badge-selector-blank.badge-button-container.button-container
					%li.ui-corner-all.blank<
						%a#badge-selector-remove バッジをはずす
				%ul#badge-selector-list.badge-button-container.button-container
					- data['badges'].each do |id, badge|
						%li{'class' => ['ui-corner-all', badge['class']], 'data-kana-sort-key' => badge['sort']}<
							%a{'data-badge-id' => id}<
								= "#{id} #{badge['name']}・#{data['badgeclass'][badge['class']]}"
			#badge-selector-footer
				#badge-selector-baseinfo
					%h2#badge-selector-badge-title<
						%span#badge-selector-badge-id>
						%span#badge-selector-badge-name>
					%p#badge-selector-race
				%ul#badge-selector-feature-list
				-# %ul#badge-selector-trade-list
				%table#badge-selector-status-table
					%tr
						%th こうげき力
						%td#badge-status-current-atk.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-atk.badge-status-after
						%th すばやさ
						%td#badge-status-current-spd.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-spd.badge-status-after
					%tr
						%th しゅび力
						%td#badge-status-current-def.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-def.badge-status-after
						%th きようさ
						%td#badge-status-current-dex.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-dex.badge-status-after
					%tr
						%th さいだいＨＰ
						%td#badge-status-current-maxhp.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-maxhp.badge-status-after
						%th こうげき魔力
						%td#badge-status-current-magic.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-magic.badge-status-after
					%tr
						%th さいだいＭＰ
						%td#badge-status-current-maxmp.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-maxmp.badge-status-after
						%th かいふく魔力
						%td#badge-status-current-heal.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-heal.badge-status-after
					%tr
						%th おしゃれさ
						%td#badge-status-current-stylish.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-stylish.badge-status-after
						%th おもさ
						%td#badge-status-current-weight.badge-status-current
						%td.badge-status-arrow →
						%td#badge-status-after-weight.badge-status-after
		#ad_sidebar
			%h2 サイト内リンク
			%ul
				%li<
					%a{href: './'} スキルシミュレータ
				%li<
					%a{href: 'anlucea.html'} アンルシア用シミュレータ
				%li<
					%a{href: 'http://cpro.jp/dq10/roulette/'} ルーレットシミュレータ
			%h2 DQ10ツールリンク
			%ul
				%li<
					%a{href: 'http://www.d-quest-10.com/', target: '_blank'} ドラクエ10・モンスター完全図鑑
				%li<
					%a{href: 'http://dq100buster.wiki.fc2.com/', target: '_blank'} DQ10 モンスター100匹討伐隊攻略wiki
				%li<
					%a{href: 'http://yujuko.sakura.ne.jp/dq/ParaWt.html', target: '_blank'} DQX - 重さチェッカー
				%li<
					%a{href: 'http://rizria.com/dqx/search', target: '_blank'} DQ10 モーモンバザー サーチ
			#snsbuttons
				.snsbutton#tw-share
				.snsbutton#fb-like
				.snsbutton#g-plusone
			- item_list.each do |item|
				.amazonitem
					%a{href: item[:item_url], target: '_blank'}<
						%img{src: item[:img_url], width: item[:img_width], height: item[:img_height], alt: item[:item_title], title: item[:item_title]}>/
						%br>/
						=item[:item_title]
		:javascript
			jQuery(function($) {
				//IE alert
				if(window.navigator.userAgent.indexOf('MSIE') > 0)
					$('#ie-alert').show();
				else
					$('#ie-alert').remove();

				var sharedUrl = "#{@home_uri}";
				$('#tw-share').socialbutton('twitter', {
					button: 'horizontal',
					url: sharedUrl,
					lang: 'ja',
					hashtags: 'DQ10, dq10_skillsim'
				});
				$('#fb-like').socialbutton('facebook_like', {
					button: 'button_count',
					url: sharedUrl,
					locale: 'ja_JP'
				});
				$('#g-plusone').socialbutton('google_plusone', {
					lang: 'ja',
					size: 'medium',
					url: sharedUrl
				});
			});

