- VERSION = '0.1alpha1'
!!! 5
%html
	%head
		%meta{charset: 'UTF-8'}/
		%meta{'http-equiv' => 'Content-Style-Type', content: 'text/css'}/
		%meta{'http-equiv' => 'Content-Script-Type', content: 'text/javascript'}/
		- @home_uri = 'http://cpro.jp/dq10/skillsimulator/beta/'
		%link{rel: 'canonical', href: @home_uri}/
		%meta{name: 'description', content: 'ドラゴンクエストX（ドラクエ10, DQ10, DQX）のスキル割り振りを計算するシミュレータ。まもの使いで仲間にしたモンスター用。'}/
		
		- @title = 'DQ10 仲間モンスター用スキルシミュレータ（V2対応テスト版）'
		%title= @title
		
		%link{rel: 'stylesheet', type: 'text/css', href: "./dq10skill.css?ver=#{VERSION}"}/
		%link{rel: 'stylesheet', type: 'text/css', href: 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css'}/
		
		%script{type: 'text/javascript', src: 'http://code.jquery.com/jquery-1.10.2.min.js'}
		%script{type: 'text/javascript', src: 'http://code.jquery.com/ui/1.10.3/jquery-ui.min.js'}
		%script{type: 'text/javascript', src: 'js/jquery.socialbutton-1.9.1.min.js'}
		%script{type: 'text/javascript', src: "./dq10skill-monster.js?ver=#{VERSION}"}
	%body
		#header
			#titleblock
				%h1<
					%a{href: @home_uri}= @title
				#save_url
					保存用URL:
					%input#url_text.ui-widget-content.ui-corner-all{type: 'text', size: 45}>/
					%a#tw-saveurl 保存用URLをツイート
			#consoleblock
				#foldbuttons
					%ul.button-container#foldbuttons-all
						%li.button-for-all.ui-corner-all<
							%a#fold-all ▲すべてたたむ
						%li.button-for-all.ui-corner-all<
							%a#unfold-all ▼すべてひろげる
					%ul.button-container#appendbuttons
						- data['monsters'].each_pair do |monster, m_data|
							%li.button-monster-append.ui-corner-all<
								%a{id: "append-#{monster}"} #{m_data['name']}
				%table#total.ui-corner-all
				#hirobaimport
					%a{href: 'hiroba-import.html', target: '_blank'} 冒険者の広場からデータを取り込む
		#body_content
			#monsters
			.monster_ent#monster_dummy{style: 'display:none'}
				.ent_title
					%h2<
						<span class="monstertype"></span> Lv
						%span.lv_h2> 1
					.ent_title_console
						%span.indiv_name
							%label{for: "indiv_name-dummy"} 名前:
							%input#indiv_name-dummy.ui-widget-content.ui-corner-all{type: 'text', size: 20}>/
						%button.movedown 下へ
						%button.moveup 上へ
						&nbsp;
						%button.delete_entry 削除
				.class_info
					%dl
						%dt.label_lv<
							%label{for: "lv-dummy"} レベル
						%dd.lv_select
							%select{size: 1, id: "lv-dummy"}
						%dt 獲得経験値:
						%dd.exp 0
						%dt 残りスキルポイント:
						%dd.pts 0 / 0
						%dt.error{style: 'display:none'}<
							必要レベル:
							%span.req_lv>< 1
						%dd.error{style: 'display:none'}
							= '（あと '
							%span.exp_remain> 0
							= ' exp）'
			#footconsole
				%p#setalllevel
					レベル一括設定
					%select{size: 1}
					%button 設定
				-# %p#bringUpLevel
					%button 必要レベルまで上げる
				-# %p#clearallskills
					%button 全スキルをリセット
			#footer
		#ad_sidebar
			%h2 DQ10ツールリンク
			%ul
				%li<
					%a{href: 'http://grooowl.com/r/dqx/', target: '_blank'} DQX相場情報
				%li<
					%a{href: 'http://www.d-quest-10.com/', target: '_blank'} ドラクエ10・モンスター完全図鑑
				%li<
					%a{href: 'http://dq100buster.wiki.fc2.com/', target: '_blank'} DQ10 モンスター100匹討伐隊攻略wiki
				%li<
					%a{href: 'http://yujuko.sakura.ne.jp/dq/ParaWt.html', target: '_blank'} DQX - 重さチェッカー
