!!! 5
%html
	%head
		%meta{:charset => 'UTF-8'}/
		%meta{'http-equiv' => 'Content-Style-Type', :content => 'text/css'}/
		%meta{'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}/
		- @home_uri = 'http://cpro.jp/dq10/skillsimulator/'
		%link{:rel => 'canonical', :href => @home_uri}/
		%meta{:name => 'description', :content => 'ドラゴンクエストX（ドラクエ10, DQ10, DQX）のスキル割り振りを計算するシミュレータ。'}/
		
		- @title = 'DQ10 スキルシミュレータ'
		%title= @title
		
		%link{:rel => 'stylesheet', :type => 'text/css', :href => './dq10skill.css'}/
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/smoothness/jquery-ui-1.9.1.custom.min.css'}/
		
		%script{:type => 'text/javascript', :src => 'js/jquery-1.8.2.js'}
		%script{:type => 'text/javascript', :src => 'js/jquery.socialbutton-1.9.0.js'}
		%script{:type => 'text/javascript', :src => 'js/jquery-ui-1.9.1.custom.min.js'}
		%script{:type => 'text/javascript', :src => './dq10skill.js'}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-5127088-4']);
			_gaq.push(['_trackPageview']);
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#header
			#headerleft
				%h1<
					%a{:href => @home_uri}= @title
				#snsbuttons
					.snsbutton#tw-share
					.snsbutton#fb-like
					.snsbutton#g-plusone
					%p#toggle_buttons
			%table#total
				%tr
					%td 獲得経験値合計:
					%td.total_pts#total_exp 0
					%td さいだいHP:
					%td.total_pts#total_maxhp 0
					%td ちから:
					%td.total_pts#total_pow 0
					%td きようさ:
					%td.total_pts#total_dex 0
					%td こうげき魔力:
					%td.total_pts#total_magic 0
					%td みりょく:
					%td.total_pts#total_charm 0
				%tr
					%td 不足経験値合計:
					%td.total_pts#total_exp_remain 0
					%td さいだいMP:
					%td.total_pts#total_maxmp 0
					%td みのまもり:
					%td.total_pts#total_def 0
					%td すばやさ:
					%td.total_pts#total_spd 0
					%td かいふく魔力:
					%td.total_pts#total_heal 0
					%td
					%td.total_pts
				%tr
					%td#save_url{:colspan => 12}
						保存用URL:
						%input#url_text.ui-widget-content.ui-corner-all{:type => 'text', :size => 60}>/
						%a#tw-saveurl{title: '保存用URLをツイートする'} ツイート
		#body_content
			/
				%ul#beta_notice{:style => 'font-size:90%'}
					%li
			- data['vocationOrder'].each do |vocation|
				%div.class_group{:id => vocation}
					.class_info
						%h2
							= data['vocations'][vocation]['name']
							Lv
							%span.lv_h2> 1
						%dl
							%dt.label_lv レベル
							%dd.lv_select
								%select{:size => 1}
							%dt 獲得経験値:
							%dd.exp 0
							%dt スキルポイント:
							%dd.pts 0 / 0
							%dt.error{:style => 'display:none'} 必要レベル:
							%dd.error{:style => 'display:none'}
								%span.req_lv< 1
								= '（あと '
								%span.exp_remain> 0
								= ' exp）'
					- data['vocations'][vocation]['skills'].each do |skillCategory|
						- cat = data['skillCategories'][skillCategory]
						%table{:class => [skillCategory, 'skill_table']}>
							%caption<
								= cat['name'] + ': '
								%span.skill_total> 0
							%tr
								%th.console{:colspan => 2}
									%input.ptspinner
									%button.reset リセット
							- cat['skills'].each_with_index do |skill, i|
								%tr{:class => [skillCategory, i].join('_')}<
									%td.skill_pt>= skill['pt']
									-# - hint = skill['desc'] + (skill['mp'] ? "\n（消費MP: #{skill['mp']}）" : '')
									%td.skill_name= skill['name']
			#footer
				%ul
					%li スクウェア・エニックス『<a href="http://www.dqx.jp/" target="_blank">ドラゴンクエストX 目覚めし五つの種族 オンライン</a>』のスキルポイント割り振りを検討するためのシミュレータです。
					%li 要JavaScript。Google Chrome, Firefox, IE8以上で動作確認。IE対応は後回しになりがちです。
					%li
						使い方:
						%ul
							%li プルダウンで職業レベルを選択。括弧内はそのレベルの累計スキルポイント。
							%li スキルポイントはスキル一覧の項目をクリックすると必要なポイントが自動入力されます。上下ボタン・キーボードの上下キーで1ずつ調整、PageUp/PageDownキーで10ずつ上下します。直接入力も可能。
							%li 「保存用URL」欄に表示されるURLは、アクセスすることで現在の状態を再現できます。メモ用・掲示板に貼る用などにどうぞ。
							%li レベル欄あたりにカーソルを持っていくと「おりたたむ」ボタンが出てきて、クリックすると簡易表示になります。そのまま操作も可能。「すべておりたたむ」でレベル・スキルを一覧するのがおすすめです。
					%li
						履歴:
						%ul
							%li 2012/12/20 v2.0beta2 保存用URLのツイートボタンを軽量化
							%li 2012/12/17 v2.0beta1 スキルポイント調整UIを変更（スピンボタン採用・リセットボタン追加）。保存用URL生成を手動から自動に変更、ツイートボタン追加。
							%li 2012/11/8 v1.1.1 経験値テーブルを公式ガイドブックおよびその<a href="http://www.square-enix.co.jp/magazine/gamebooks/dq/10_guide01/seigohyou.html" target="_blank">正誤表</a>に準拠</li>
							%li 2012/10/12 v1.1 スキル一覧ポイント時にスキル詳細をヒント表示</li>
							%li 2012/10/11 v1.0.2 新職業の経験値テーブルの予測値を1.333倍の四捨五入に変更、Lv18までの実測値を反映。</li>
							%li 2012/10/10 v1.0.1 新職業の経験値テーブルが従来職と異なるのに暫定対応（1.33倍として計算）。職業の順序を転職時の並び順に準拠。</li>
							%li 2012/10/9 v1.0 大型バージョンアップに対応（新職業追加、レベルキャップ50→55）。ページ読込の高速化。</li>
							%li 2012/9/18 v0.6.3 <del>おまけ機能追加。不足経験値が1以上のとき数値をダブルクリックすると……</del>（v1.0で廃止）</li>
							%li 2012/8/23 v0.6.2 パラメータ付きURLで読み込んだときの生成URLが異常になるバグ修正</li>
							%li 2012/8/23 v0.6.1 かいふく魔力合計に反映されないバグ修正</li>
							%li 2012/8/21 v0.6 おりたたむ・ひろげるボタン追加</li>
							%li 2012/8/21 v0.5.2 まほうスキル全般、ムチの攻撃力+・みやぶるの必要ポイントを訂正</li>
							%li 2012/8/21 v0.5.1 ツメスキルのこうげき力+を訂正</li>
							%li 2012/8/21 v0.5 パッシブ合計の表示、保存用URLの生成・読込</li>
							%li 2012/8/20 v0.2 スキル一覧クリックでポイント自動入力</li>
							%li 2012/8/20 v0.1 暫定公開</li>
					%li
						ToDo:
						%ul
							%li <del>スキル一覧ポイント時にスキル詳細をヒント表示する</del>(v1.1)</li>
							%li <del>スキル一覧クリックでスキルポイントを自動設定する</del>(v0.2)</li>
							%li <del>パッシブ合計を表示する</del>(v0.5)</li>
							%li <del>設定値の再現URLを生成・読込</del>(v0.5)</li>
					%li ご意見・ご要望は下記まで。
				%address<
					%p.contact 連絡先: <a href="https://twitter.com/cpro29" target="_blank">@cpro29</a>
		#ad_sidebar
			%h2 DQ10ツールリンク
			%ul
				%li<
					%a{:href => 'http://dqx.herokuapp.com/', :target => '_blank'} DQXレシピ君
				%li<
					%a{:href => 'http://dqx-bazaar.herokuapp.com/', :target => '_blank'} ドラクエ10アイテム価格調査隊
				%li<
					%a{:href => 'http://www4.atpages.jp/studiogobli/php/dqxm/', :target => '_blank'} DQ10 ソロ用
			/
				- associate_id = 'marbleland-22'
				- asin_list.each do |asin|
					%span<
						%a{:href => "http://www.amazon.co.jp/gp/product/#{asin}/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=#{asin}&linkCode=as2&tag=#{associate_id}", :target => '_blank'}><
							%img{:border => 0, :src => "http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&ASIN=#{asin}&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=#{associate_id}"}/
						%img{:src => "http://www.assoc-amazon.jp/e/ir?t=#{associate_id}&l=as2&o=9&a=#{asin}", :width => 1, :height => 1, :border => 0, :alt => '', :style => 'border:none !important; margin:0px !important;'}/
		/ Amazon link enhancer
		/
			%script{:type => 'text/javascript', :src => "http://wms.assoc-amazon.jp/20070822/JP/js/link-enhancer-common.js?tag=#{associate_id}"}
			%noscript
				%img{:src => "http://wms.assoc-amazon.jp/20070822/JP/img/noscript.gif?tag=#{associate_id}", :alt => ''}/
